h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button,
a {
  cursor: url("/img/cursor.png"), auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #fbfbfb;
  margin: 0;
  background: #0e1823;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 75px 0;
  }
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 50px;
  }
}

.nav-list,
.soc-list {
  display: none;
}

.header {
  position: absolute;
  top: 20px;
  left: 32px;
  width: calc(100% - 64px);
  z-index: 1;
}

.head {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 7px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.main-page-logo {
  font-size: 14px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  line-height: 1.2;
  color: #1b414b;
}

.burger-button {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-icon {
  stroke: #1b414b;
}

@media screen and (min-width: 768px) {
  .header {
    top: 32px;
  }

  .head {
    justify-content: center;
    padding: 4px 28px;
  }

  .main-page-logo {
    font-size: 24px;
  }

  .burger-button {
    display: none;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    gap: 113px;
    align-items: center;
    margin-right: auto;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    align-items: center;
    margin-right: auto;
  }

  .nav-href {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    border-radius: 8px;
    background-color: rgba(27, 65, 75, 0.5);
    min-width: 91px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease-in-out;
  }

  .nav-href:hover,
  .nav-href:focus {
    background-color: #1b414b;
  }

  .soc-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .soc-href {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    min-height: 24px;
  }

  .soc-icon {
    fill: #1b414b;
    transition: fill 300ms ease-in-out;
  }

  .soc-icon:hover,
  .soc-icon:focus {
    fill: #062730;
  }
}

@media screen and (min-width: 1280px) {
  .main-page-logo {
    font-size: 20px;
  }

  .header-nav {
    gap: 296px;
  }

  .head.container {
    max-width: 1080px;
    padding: 4px 30px;
  }
}

.current {
  background-color: #1b414b;
}

.main-page {
  background-image: linear-gradient(
      360deg,
      rgba(17, 19, 31, 0.8) 15.05%,
      rgba(17, 19, 31, 0.31) 75.3%,
      rgba(17, 19, 31, 0) 98.27%
    ),
    url(../img/main-page/main-page-mob.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 260px;
  padding-bottom: 302px;
}

.main-page-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-page-header {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 24px;
}

.main-page-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 38px;
}

.main-page-button {
  border-radius: 15px;
  padding: 14px 32px;
  background-color: #1b414b;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  display: block;
  margin: 0 auto;
  border: none;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.main-page-button:hover,
.main-page:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}

@media screen and (min-resolution: 192dpi) {
  .main-page {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.31) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(../img/main-page/main-page-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main-page {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.31) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(../img/main-page/main-page-tab.jpg);
    padding-top: 280px;
    padding-bottom: 282px;
  }

  .main-page-header {
    font-size: 70px;
    max-width: 704px;
  }

  .main-page-text {
    font-size: 16px;
    line-height: 1.4;
    max-width: 597px;
    margin-bottom: 48px;
  }

  .main-page-button {
    font-size: 18px;
    line-height: 1.1;
    padding: 16px 40px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main-page {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.31) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(../img/main-page/main-page-tab@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .main-page {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.31) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(../img/main-page/main-page-desc.jpg);
  }

  .main-page {
    padding-top: 235px;
    padding-bottom: 215px;
  }

  .main-page-header {
    font-size: 80px;
    max-width: 1000px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main-page {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.31) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(../img/main-page/main-page-desc@2x.jpg);
  }
}

.description-block {
  border-radius: 24px 24px 0 0;
  max-width: 335px;
  max-height: 775px;
  background-color: #fbfbfb;
  margin-top: -60px;
  padding: 0;
}

.desc-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 40px 20px 0 20px;
  margin-bottom: 40px;
}

.desc-header {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}

.desc-info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.desc-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}

.desc-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  opacity: 0.4;
  letter-spacing: -0.02em;
  color: #040306;
}

.desc-image {
  border-radius: 24px 24px 0 0;
  min-width: 335px;
  min-height: 395px;
}

@media screen and (min-width: 768px) {
  .description-block {
    max-width: 704px;
    max-height: 951px;
    margin-top: -70px;
  }

  .desc-header {
    font-size: 48px;
    max-width: 536px;
  }

  .desc-info {
    gap: 50px;
    padding: 50px 32px 0 32px;
    margin-bottom: 50px;
  }

  .desc-subtitle {
    font-size: 23px;
    max-width: 370px;
  }

  .desc-text {
    font-size: 13px;
    line-height: 1.15;
    max-width: 385px;
  }

  .desc-image {
    min-width: 704px;
    min-height: 470px;
  }
}

@media screen and (min-width: 1280px) {
  .description-block {
    max-width: 1180px;
    max-height: 830px;
    margin-top: -35px;
  }

  .desc-info {
    gap: none;
    justify-content: space-between;
    flex-direction: row;
    padding: 50px;
    padding-bottom: 0;
    margin-bottom: 100px;
  }

  .desc-subtitle {
    max-width: 354px;
  }

  .desc-text {
    max-width: 354px;
  }

  .desc-image {
    min-width: 1180px;
    min-height: 470px;
  }
}

.item2,
.item3 {
  display: none;
}

.choice {
  padding-top: 80px;
}

.choice-header {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.choice-list {
  margin-bottom: 40px;
}

.choice-item {
  max-width: 335px;
  max-height: 478px;
  border-radius: 24px;
  background-color: #fbfbfb;
  padding: 16px;
}

.choice-image {
  border-radius: 24px;
  min-width: 302px;
  min-height: 240px;
  margin-bottom: 16px;
}

.choice-text {
  padding: 16px;
}

.item-head {
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(4, 3, 6, 0.1);
}

.item-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 147px;
}

.name-property {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.item-desc {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-properties,
.list-values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.item-property {
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.item-value {
  font-weight: 400;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  color: #040306;
}

.choice-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  padding: 14px 32px;
  background-color: transparent;
  margin: 0 auto;
  display: block;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.choice-button:hover,
.choice-button:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

@media screen and (min-width: 768px) {
  .item2 {
    display: block;
  }

  .choice-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .choice-item {
    max-width: 336px;
    max-height: 508px;
  }

  .choice-image {
    min-width: 304px;
    min-height: 268px;
  }

  .choice-header {
    font-size: 48px;
    margin-bottom: 75px;
  }

  .choice-button {
    padding: 16px 40px;
    font-size: 18px;
    line-height: 110%;
  }

  .item-name {
    font-size: 14px;
    line-height: 118%;
  }

  .name-property {
    font-size: 13px;
    line-height: 118%;
  }
}

@media screen and (min-width: 1280px) {
  .item3 {
    display: block;
  }

  .choice-item {
    max-width: 377px;
    max-height: 508px;
  }

  .item-name {
    font-size: 16px;
    line-height: 120%;
    max-width: 177px;
  }

  .choice-image {
    min-width: 345px;
    min-height: 268px;
  }

  .choice-header {
    max-width: 714px;
    display: block;
    margin: 0 auto;
    margin-bottom: 75px;
  }
}
