h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #fbfbfb;
  margin: 0;
  background: #0e1823;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 75px 0;
  }
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.header {
  position: absolute;
  top: 20px;
  left: 0;
  width: calc(100% - 40px);
  z-index: 1;
}

.head {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 7px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.main-page-logo {
  font-size: 14px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  letter-spacing: 1.2;
  color: #1b414b;
}

.burger-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-icon {
  stroke: #1b414b;
}
